.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 100px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    color: #17a2b8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.eventli {
    list-style: none;
    color: white;
    background: #4e73df;
    text-align: center
}

.meetinglink {
    color: white;
    cursor: pointer;
}

.meetinglink:hover {
    color: white;
    cursor: pointer;
}