
{% extends "museum/base.html" %} {% load static %} {% block title %}Show On UI {%endblock%} {% block head %}
<!-- endter the head links here -->
{% endblock %} {% block content %}


<style>
.name{width: 300px;
    background-color: black; 
}
.message{
width: 300px;
background-color: black;
}
.image{
width: 300px;
}
</style>

<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <h6 class="card-title">Show On UI</h6>
       <div id="alert" class="text-center"></div>
       <div class="col-md-3 my-3">
       <select name="" id="show_wall" onchange="select_wall()">
         <option value="" disabled selected>Select Wall</option>
         <option value="MEMORY_WALL">Feedback Wall</option>
         <option value="INDIA@2047">India@2047</option>
        </select>
      </div>
      <!-- Project Table  -->
      <table id="myTable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Message</th>
            <th class="text-center">Image</th>
          </tr>
        </thead>
        <tbody id="device_list">
          {% for i in moderation %}
          <tr>
            <td class="text-center"><img class="name" src={{i.name.url}} alt="name"/></td>
            <td class="text-center"><img class="message" src={{i.message.url}} alt="message"/></td>
            <td class="text-center"><img class="image" src={{i.person_image.url}} alt="image"/></td>
            <td class="text-center">
                  <button
                    class="btn btn-danger m-2"
                    
                    onclick="startShow('{{i.id}}')">
                    Delete from UI
                  </button>
                </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Edit modal -->

{% endblock %} {% block script %}
<script>
  // let show_req;
  function startShow (show_id){
    console.log(show_id);
    var data={}
    data['show_id_start'] = show_id;

    $.ajax({
      type: "POST",
      data: data,
      success: function(result){
        console.log(result);
        $('#alert').html(`<div class="alert alert-success" role="alert">${result.status}</div>`)
        
        setTimeout(() =>{$('#alert').html(``)},3000);
        window.location.reload(true);
      }
   });
  }

  function select_wall(){
    var data={};
    data['node_name'] = document.getElementById("show_wall").value;
 
    $.ajax({
      type: "GET",
      data: data,
      success: function(result){
        console.log(result);
       // $('#alert').html(`<div class="alert alert-success" role="alert">${result.status}</div>`)

        //setTimeout(() =>{$('#alert').html(``)},3000)

      }
  });  
  }

  function playShow (show_id){
    console.log(show_id);
    var data={}
    data['show_id_play'] = show_id;

    $.ajax({
      type: "POST",
      data: data,
      success: function(result){
        console.log(result);
        $('#alert').html(`<div class="alert alert-success" role="alert">${result.status}</div>`)

        setTimeout(() =>{$('#alert').html(``)},3000)

      }
  });
  }

 function pauseShow(show_id){
    console.log(show_id);
    
    var data={}
    data['show_id_pause'] = show_id;

    $.ajax({
      type: "POST",
      data: data,
      success: function(result){
        console.log(result);
        $('#alert').html(`<div class="alert alert-success" role="alert">${result.status}</div>`)

        setTimeout(() =>{$('#alert').html(``)},3000)

      }
  });  
  }



</script>
{% endblock %}
